<div id="categories-container">
  <div id="categories-header">
    <!--    <div id="categories-header-title">-->
    <!--      <button mat-icon-button [routerLink]="['/']">-->
    <!--        <mat-icon>arrow_backward</mat-icon>-->
    <!--      </button>-->
    <!--    </div>-->
    <app-search-bar></app-search-bar>
  </div>
  <div id="categories-content">
    <div id="topBox">
      <div id="thinhHanhBox">
        <p>{{ headerName }}</p>
      </div>
    </div>
    <div class="cardBox">
      <div id="theLoaiBox" #viewport>
        <div class="theLoai" *ngFor="let loai of theLoai">{{ loai }}</div>
      </div>
    </div>
    <cdk-virtual-scroll-viewport itemSize="50" id="bot-viewport">
      <div id="cardBox">
        <app-card *ngFor="let card of thinhHanhCards" [ebook]="card"></app-card>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
