<div id="search-container">
  <div id="search-header">
    <mat-form-field appearance="fill" id="search-header-search">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Tìm kiếm "
        [formControl]="searchControl"
        (input)="onInputChange($event)"
      />
    </mat-form-field>
    <!--    <div id="dropdown fffff">-->
    @if (showDropdown) {
      <div id="dropdownBox">
        @if ((searchResults$ | async)?.length == 0) {
          <div class="textIn">Không tìm thấy kết quả</div>
        } @else {
          @for (result of searchResults$ | async; track result) {
            <div class="textIn" (click)="onResultClick(result)">
              <img
                matPrefix
                [src]="getImageUrl(result.image)"
                alt="Book Image"
                class="book-icon"
              />
              <div class="bookInfor">
                <p class="title">{{ result.title }}</p>
                <p class="author">By {{ result.author }}</p>
              </div>
            </div>
          }
        }
      </div>
    }
  </div>
</div>
