<div id="search-container">
  <div id="search-header">
    <mat-form-field appearance="fill" id="search-header-search">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        placeholder="Tìm kiếm sách..."
        (input)="onInputChange($event)"
      />
    </mat-form-field>
    <!--    <div id="dropdown">-->
    @if (showDropdown == true) {
      <div id="dropdownBox">
        <div class="textIn">
          <img
            matPrefix
            src="public/assets/books-img/theInvisibleHand.png"
            alt="Book Image"
            class="book-icon"
          />
          <div class="bookInfor">
            <p class="title">
              The Invisible Hand ABCDEFGHTKNHDKFKDSSVSFFFFFFFF
            </p>
            <p class="author">
              By Adam Smith
              ffffffffffffffffffsdfsdffffffffffffgsgfdgsdgdffasfdfa
            </p>
          </div>
        </div>

        <div class="textIn">
          <img
            matPrefix
            src="public/assets/books-img/beSmartInvestor.png"
            alt="Book Image"
            class="book-icon"
          />
          <div class="bookInfor">
            <p class="title">Be Smart Investor</p>
            <p class="author">By Warren Buffet</p>
          </div>
        </div>

        <div class="textIn">
          <img
            matPrefix
            src="public/assets/books-img/theOdyssey.png"
            alt="Book Image"
            class="book-icon"
          />
          <div class="bookInfor">
            <p class="title">The Odyssey</p>
            <p class="author">By Homer</p>
          </div>
        </div>

        <div class="textIn">
          <img
            matPrefix
            src="public/assets/books-img/Hamlet.png"
            alt="Book Image"
            class="book-icon"
          />
          <div class="bookInfor">
            <p class="title">Hamlet</p>
            <p class="author">By William Shakespeare</p>
          </div>
        </div>
      </div>
    }
  </div>
</div>
