#search-container {
  height: 300%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column; /* Ensure vertical stacking */
  align-items: center; /* Center align elements */

  #search-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    border-top-left-radius: var(--container-border-radius);
    border-top-right-radius: var(--container-border-radius);
    height: 100px;
    width: 100%; /* Full width */
    max-width: 500px; /* Optional: Set a max width */
    color: var(--primary);
    z-index: 1;

    #search-header-search {
      width: 100%;
      height: max-content;
      min-width: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #search-header-search > mdc-text-field {
      display: flex;
      justify-content: center;
    }
  }
}

#dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
}

#dropdownBox {
  width: 100%; /* Match width with #search-header */
  max-width: 500px; /* Same max width as #search-header */
  top: 100px; /* Position below #search-header */
  position: absolute;
  background-color: var(--surfaceContainerLow);
  z-index: 1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textIn {
  display: flex;
  height: 100px;
  width: 500px;
  align-items: center;
  font-size: 22px;
  margin-bottom: 5px;
}

.bookInfor {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure it takes the full width of the parent */
}

.bookInfor > p {
  margin: 0;
  padding: 0;
  display: block; /* Ensure width is respected */
  color: var(--primary);
  width: 80%; /* Ensure it takes the full width of the parent */
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Apply ellipsis to overflow text */
}

.textIn:hover {
  background-color: lightgray; /* Change to desired highlight color */
  cursor: pointer;
}

.book-icon {
  margin-left: 10px;
  width: 12%; /* Adjust size as needed */
  height: 90%; /* Adjust size as needed */
  margin-right: 8px; /* Adjust margin to match the previous icon */
  vertical-align: middle; /* Align with text */
  border-radius: 4px;
}

.author {
  font-size: 14px;
}

/* Medium screens (tablets) */
@media (max-width: 1000px) {
  //  #search-container {
  //    #search-header {
  //      font-size: 1.5rem;
  //      height: 80px;
  //      width: 100%; /* Đảm bảo chiều rộng là 100% */
  //
  //      #search-header-search {
  //        height: max-content;
  //        min-width: 10px;
  //        display: flex;
  //        justify-content: center;
  //        align-items: center;
  //      }
  //    }
  //  }
  //  #dropdownBox {
  //    display: flex;
  //    margin: 0;
  //    top: 100px; /* height of #search-header */
  //    position: absolute;
  //    width: 50%; /* Đảm bảo chiều rộng là 100% */
  //    max-width: 350px; /* Đặt chiều rộng tối đa */
  //    background-color: var(--surfaceContainerLow);
  //    z-index: 1; /* ensure it is not overlapped by other elements */
  //    border-radius: 12px;
  //    align-items: center;
  //    flex-direction: column;
  //    text-overflow: ellipsis;
  //    overflow: hidden; /* Ensure overflow is hidden */
  //  }

  .textIn {
    display: flex;
    height: 100px;
    width: 100%;
    align-items: center;
    font-size: 0.875rem; /* Reduce font size */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Apply ellipsis to overflow text */
  }

  .bookInfor {
    display: flex;
    flex-direction: column;
    width: 100%; /* Ensure it takes the full width of the parent */
  }

  .bookInfor > p {
    margin: 0;
    padding: 0;
    display: block; /* Ensure width is respected */
    color: var(--primary);
    width: 150px; /* Ensure it takes the full width of the parent */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Apply ellipsis to overflow text */
  }

  .textIn:hover {
    background-color: lightgray; /* Change to desired highlight color */
    cursor: pointer;
  }
  .book-icon {
    width: 20%; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
  }
}

/* Small screens (mobile devices) */
@media (max-width: 600px) {
  //#search-container {
  //  width: 100%;
  //
  //  #search-header {
  //    font-size: 1.5rem;
  //    height: 60px;
  //    width: 100%;
  //
  //    #search-header-search {
  //    }
  //  }
  //}
  //#dropdownBox {
  //  top: 80px;
  //  left: 50%;
  //  transform: translateX(-50%);
  //  width: calc(100% - 20px);
  //  padding: 10px;
  //}
  .book-icon {
    width: auto;
    height: 95%;
  }
}
