<div id="login-container">
  @if (isLoadingSignIn) {
    <div class="loading-spinner-overlay">
      <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
  }
  <div id="login-card">
    <div id="title">
      <img
        [src]="'public/assets/logos/logo.png'"
        width="100px"
        height="100px"
        alt="Blue-Book"
      />
      <h6>Sign in</h6>
      <p>Use your <b>Google Account</b></p>
      <p>or Sign in with <b>Email & Password</b></p>
    </div>
    <form [formGroup]="loginForm" id="form" (ngSubmit)="onSubmit()">
      <div class="form-login">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Email" />
          @if (loginForm.get("email")?.invalid) {
            <mat-error>Invalid email</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            formControlName="password"
            placeholder="Password"
            type="password"
          />
          @if (loginForm.get("password")?.invalid) {
            <mat-error>Invalid password</mat-error>
          }
        </mat-form-field>
      </div>
      <div class="btn-grp">
        <button
          type="submit"
          class="btn-submit"
          mat-stroked-button
          (click)="signInWithGoogle()"
        >
          <img
            [src]="'public/assets/logos/google_logo.png'"
            width="16"
            height="16"
            alt="google logo"
          />
          Sign in with Google
        </button>
        <button
          type="submit"
          class="btn-submit"
          mat-flat-button
          [disabled]="loginForm.invalid"
        >
          Sign in
        </button>
      </div>
    </form>
  </div>
</div>
