#container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #747272;

}


#login {
    width: 60%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff9f9;
}

#title {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: #000000;
    padding-left: 50px;
}

#form {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#form-login {
    width: 400px;
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

 #btn {
     width: 425px;
     height: 50px;
     display: flex;
     justify-content: space-around;
     color: #fff;
     flex-direction: row;
 }

 .btn-submitGG {
     width: 220px;
     height: 50px;
     display: flex;
     justify-items: start;
     color: #4100f3;
     border: 2px solid #4d5fff;
     background-color: #f5f5f5;
 }

 .btn-submit {
     width: 100px;
     height: 50px;
     justify-content: end;
     justify-items: end;
     background-color: #3f72ff;
     color: #fff;
     border: none;
 }

input {
    width: 100%;
    height: 40px;
    border: 2px solid #333;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}