<div id="container">
    <div id="login">
        
        <div id="title">
            <img src="../public/assets/Blue-Book.png" width="100px" height="70px" alt="Blue-Book">
            <h2>Sign in</h2>
            <h4>Use your Google Account</h4>
        </div>
        <form id="form">
            <div class="form-login">
                <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Email">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
                  <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                  </mat-form-field>
            </div>
            <div class="btn">
                <button type="submit" class="btn-submitGG" mat-stroked-button>Sign in with Google</button>
                <button type="submit" class="btn-submit" mat-flat-button>Sign in</button>
            </div>
        </form>
    </div>
</div>