<h2 mat-dialog-title>Đánh giá sách</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="commentFormGroup">
    <!--   comment form control   -->
    <mat-form-field appearance="fill">
      <mat-label>Mô tả</mat-label>
      <textarea
        matInput
        placeholder="Mô tả..."
        formControlName="content"
        required
        cdkTextareaAutosize
      ></textarea>
      @if (commentFormGroup.get("content")?.valid) {
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      } @else {
        <mat-icon matSuffix>sentiment_very_dissatisfied</mat-icon>
      }
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Hủy</button>
  <button
    mat-flat-button
    [mat-dialog-close]="sendForm()"
    [disabled]="commentFormGroup.invalid"
  >
    Gửi
  </button>
</mat-dialog-actions>
