#root-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;

  #sidebar-container {
    height: 100%;
    width: 15%;
  }

  #main-container {
    height: 100%;
    width: 85%;
  }
}
