#root-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;

  #sidebar-container {
    height: 95%;
    width: 87px;
  }

  #main-container {
    height: 95%;
    width: calc(100% - 87px);
    margin-right: 15px;
    background: var(--surfaceContainerLowest);
    border-radius: var(--container-border-radius);
  }
}
