#info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#book-title {
  font-size: 36px;
  margin: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#book-title #title {
  font-size: 32px;
  margin: 0;
}

#book-title #header-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#book-title #favorite {
  font-size: 15px;
  color: var(--secondary);
}

#book-title #favorite.active {
  color: #ff5449;
}

#book-title #favorite:hover span {
  color: var(--secondary);
}

#book-title #favorite:hover mat-icon {
  color: var(--secondary);
}

#book-info-card {
  display: flex;
  flex-direction: row;
  margin: 10px 28px;
}

#img-book-info {
}

#img-book-info img {
  border-radius: 28px;
  height: 322px;
}

#book-info {
  width: 1064px;
  height: 251px;
  margin-left: 20px;
}

#book-info #author {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#book-info #date {
  font-size: 11px;
  color: var(--onSurfaceVariant);
}

#book-info #description {
  width: 100%;
  max-height: 200px;
  overflow: auto;
  font-size: 14px;
  margin-top: 8px;
  color: #3a3b3f;
  line-height: 33px;
}

.example-label {
  display: table-cell;
  font-size: 24px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 150px;
}

#comment {
  max-height: 25%;
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

#header-comment {
  width: 100%;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: column;
}

#header-comment #comment-title-header {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  align-items: center;
}

#InputVisible {
}

#header-comment #add_comment {
  color: var(--secondary);
  padding: 3px 0;
}

#header-comment #add_comment:hover {
  cursor: pointer;
  color: var(--onPrimaryContainer);
}

#header-comment #comment-title {
  font-size: 24px;
  padding: 3px 0;
  margin: 0;
}

#input-comment {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--inverseOnSurface);
  border-radius: 15px;
}

#input-comment .avatar-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-comment .avatar-comment {
  height: 46px;
  width: 46px;
  margin-top: 0;
  border-radius: 15px;
}

#input-comment #comment-input {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Rowdies", sans-serif;
  background-color: var(--inverseOnSurface);
  border: 0;
}

#input-comment #comment-input:focus {
  outline: none;
}

#input-comment .send {
  margin-right: 8px;
  color: var(--secondary);
}

#input-comment .send:hover {
  cursor: pointer;
  color: var(--onPrimaryContainer);
}

#comment-box {
  width: 100%;
  overflow: auto;
}

@media (max-width: 600px) {
  #comment-box {
    max-height: calc(100vh - 200px - 160px);
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  #comment-box {
    max-height: calc(100vh - 300px - 160px);
  }
}

@media (min-width: 1025px) {
  #comment-box {
    max-height: calc(100vh - 400px - 160px);
  }
}

#comment-box::-webkit-scrollbar {
  width: 10px;
}

.comment-content {
  display: flex;
  flex-direction: row;
  margin: 0px 28px 10px 0px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--inverseOnSurface);
  border-radius: 15px;
}

.user-comment {
  display: flex;
  flex-direction: row;
}

.comment-content .avatar-comment {
  height: 56px;
  width: 56px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 15px;
}

.comment-input {
  max-width: 100%;
  height: auto;
  margin-left: 4px;
}

.comment-input .comment-name {
  font-size: 18px;
  margin: 10px 0px 4px 4px;
}

.comment-input .comment-text {
  max-width: 100%;
  font-size: 14px;
  color: var(--outline);
  line-height: 33px;
}

.more-vert {
  margin-right: 8px;
}
