@media (max-width: 600px) {
  #book-title {
    margin: 0 10px;
  }
  #book-title #title {
    font-size: 20px;
  }
  #book-info-card {
    width: calc(100% - 28px);
    flex-direction: column;
    align-items: center;
    margin: 14px 14px;
  }
  #img-book-info {
    width: 100%;
    text-align: center;
  }
  #img-book-info img {
    width: 216px;
    height: auto;
  }
  #book-info {
    width: 100%;
  }
  #ebook-info-container {
    height: 100%;
  }
  #book-info #description {
    max-width: 100%;
    font-size: 12px;
    margin-right: 10px;
  }
  #book-info #author {
    font-size: 16px;
  }
  #book-info #date {
    font-size: 10px;
  }
  #btn span {
    font-size: 14px;
  }
  #comment {
    width: calc(100% - 28px);
  }
  #header-comment {
    width: 100%;
    font-size: 20px;
  }
  .comment-content {
    margin: 0 15px 10px 0;
  }
  .comment-content .avatar-comment {
    height: 80px;
    width: 70px;
  }
  .comment-content .comment-name {
    font-size: 14px;
  }
  .comment-text {
    font-size: 12px;
    //max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #comment-box {
    max-height: calc(100vh - 360px);
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  #book-title {
    margin: 0 14px;
  }
  #book-title #title {
    font-size: 20px;
  }
  #book-info-card {
    width: calc(100% - 28px);
    flex-direction: row;
    margin: 14px 14px;
  }
  #img-book-info {
    margin-right: 10px;
  }
  #img-book-info img {
    width: 216px;
    height: auto;
  }
  #book-info {
    width: 100%;
  }
  #book-info #description {
    max-width: 100%;
    font-size: 12px;
  }
  #book-info #author {
    font-size: 16px;
  }
  #book-info #date {
    font-size: 10px;
  }
  #btn span {
    font-size: 14px;
  }
  #comment {
    width: calc(100% - 28px);
    margin-left: 10px;
  }
  #header-comment {
    width: 100%;
    font-size: 20px;
  }
  .comment-content {
    margin-bottom: 10px;
    width: 100%;
  }
  .comment-content .avatar-comment {
    height: 80px;
    width: 70px;
  }
  .comment-content .comment-name {
    font-size: 14px;
  }
  .comment-text {
    font-size: 12px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #comment-box {
    max-height: calc(100vh - 450px);
  }
}

@media (min-width: 1023px) and (max-width: 1440px) {
  #book-title {
    margin: 0 10px;
  }
  #book-title #title {
    font-size: 24px;
  }
  #book-info-card {
    width: calc(100% - 28px);
    flex-direction: row;
    margin: 10px 14px;
  }
  #img-book-info {
    margin-right: 10px;
  }
  #img-book-info img {
    width: 216px;
    height: auto;
  }

  #book-info {
    width: 100%;
  }

  #book-info #description {
    max-width: 100%;
    font-size: 14px;
  }

  #book-info #author {
    font-size: 18px;
  }

  #book-info #date {
    font-size: 12px;
  }

  #btn span {
    font-size: 16px;
  }

  #comment {
    width: calc(100% - 28px);
  }

  #header-comment {
    width: 100%;
    font-size: 20px;
  }

  .comment-content {
    max-width: 100%;
    margin: 0 0 10px 0;
  }

  .comment-content .avatar-comment {
    height: 80px;
    width: 70px;
  }

  .comment-content .comment-name {
    font-size: 14px;
  }

  .comment-text {
    font-size: 14px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  #comment-box {
    max-height: calc(100vh - 480px);
  }
}

@media (min-width: 1440px) and (max-width: 2560px) {
  #book-title {
    margin: 0 10px;
  }
  #book-title #title {
    font-size: 24px;
  }
  #book-info-card {
    width: calc(100% - 28px);
    flex-direction: row;
    margin: 10px 14px;
  }
  #img-book-info {
    margin-right: 10px;
  }
  #img-book-info img {
    width: 216px;
    height: auto;
  }
  #book-info {
    width: 100%;
  }
  #book-info #description {
    max-width: 100%;
    font-size: 14px;
  }
  #book-info #author {
    font-size: 18px;
  }
  #book-info #date {
    font-size: 12px;
  }
  #btn span {
    font-size: 16px;
  }
  #comment {
    width: calc(100% - 28px);
  }
  #header-comment {
    width: 100%;
    font-size: 20px;
  }
  .comment-content {
    max-width: 100%;
    margin: 0 0 10px 0;
  }
  .comment-content .avatar-comment {
    height: 80px;
    width: 70px;
  }
  .comment-content .comment-name {
    font-size: 14px;
  }
  .comment-text {
    font-size: 14px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #comment-box {
    max-height: calc(100vh - 480px);
  }
}

@media (min-width: 2560px) {
  #book-title {
    margin: 0 10px;
  }
  #book-title #title {
    font-size: 24px;
  }
  #book-info-card {
    width: calc(100% - 28px);
    flex-direction: row;
    margin: 10px 14px;
  }
  #img-book-info {
    margin-right: 10px;
  }
  #img-book-info img {
    width: 216px;
    height: auto;
  }
  #book-info {
    width: 100%;
  }
  #book-info #description {
    max-width: 100%;
    font-size: 14px;
    margin-right: 20px;
  }
  #book-info #author {
    font-size: 18px;
  }
  #book-info #date {
    font-size: 12px;
  }
  #btn span {
    font-size: 16px;
  }
  #comment {
    width: 100%;
  }
  #header-comment {
    width: 100%;
    font-size: 20px;
  }
  .comment-content {
    max-width: 100%;
    margin: 0 20px 10px 0;
  }
  .comment-content .avatar-comment {
    height: 80px;
    width: 70px;
  }
  .comment-content .comment-name {
    font-size: 14px;
  }
  .comment-text {
    font-size: 14px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #comment-box {
    max-height: calc(100vh - 480px);
  }
}

#info-container {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  //justify-content: space-around;

  .loading-spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1000;
  }
}

#book-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#book-title #title {
  margin: 0;
}

#book-title #header-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

#book-info-card {
  display: flex;
}

#ebook-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#img-book-info img {
  border-radius: 28px;
}

#book-info {
  flex-wrap: wrap;
  height: 100%;
  text-align: justify;
  margin-top: 10px;
}

#book-info #author {
  margin-bottom: 10px;
}

#book-info #date {
  color: var(--onSurfaceVariant);
}

#book-info #description {
  max-height: 200px;
  overflow: auto;
  color: #3a3b3f;
  line-height: 33px;
  font-weight: lighter;
}

#btn {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

#favorite-btn-container {
  margin-left: 10px;
}

#doc-btn-container {
}

#favorite.active {
  color: white;
  background-color: #ff897d;
}

#favorite:hover {
  color: #ff897d;
}

#favorite.active:hover {
  color: white;
}

.example-label {
  display: table-cell;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  width: 150px;
}

#comment {
  max-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 14px 0 14px;
}

#header-comment {
  display: flex;
  flex-direction: column;
}

#header-comment #comment-title-header {
  display: flex;
  margin-bottom: 5px;
  flex-direction: row;
  align-items: center;
}

#InputVisible {
}

#header-comment #add_comment {
  color: var(--secondary);
  padding: 3px 0;
}

#header-comment #add_comment:hover {
  cursor: pointer;
  color: var(--onPrimaryContainer);
}

#header-comment #comment-title {
  padding: 3px 0;
  margin: 0;
}

#input-comment {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--inverseOnSurface);
  border-radius: 15px;
}

#input-comment .avatar-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#input-comment .avatar-comment {
  margin-top: 0;
}

#input-comment #comment-input {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  font-size: 14px;
  font-family: "Rowdies", sans-serif;
  background-color: var(--inverseOnSurface);
  border: 0;
}

#input-comment #comment-input:focus {
  outline: none;
}

#input-comment .send {
  margin-right: 8px;
  color: var(--secondary);
}

#input-comment .send:hover {
  cursor: pointer;
  color: var(--onPrimaryContainer);
}

#comment-box {
  width: 100%;
  overflow: auto;
}

#comment-box::-webkit-scrollbar {
  width: 10px;
}

.comment-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--inverseOnSurface);
  border-radius: 15px;
}

.comment-text.expanded {
  white-space: normal;
}

.comment-content:hover {
  background-color: var(--secondaryContainer);
  cursor: pointer;
}

.comment-content .avatar-comment {
  border-radius: 15px;
  margin: 0 8px;
}

.comment-input {
  width: calc(100% - 16px - 70px - 8px - 40px);
  height: auto;
  margin-right: 8px;
}

.comment-input .comment-name {
  margin: 10px 0 0 0;
}

.comment-input .comment-text {
  line-height: 33px;
  font-weight: lighter;
}

.more-vert {
  margin-right: 8px;
}

.expand-btn {
  margin-bottom: 8px;
}

#no-comment {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
