<div id="home-container">
  <div id="home-header">
    <div id="home-header-title">
      <h1>Hobius</h1>
    </div>
    <mat-form-field appearance="fill" id="home-header-search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Search your book..." />
    </mat-form-field>

    <!--    <div id="home-header-avatar">-->
    <!--      <mat-icon>account_circle</mat-icon>-->
    <!--    </div>-->
    <div id="home-header-button">
      <button mat-flat-button>Login</button>
    </div>
  </div>
  <div id="home-content">
    <cdk-virtual-scroll-viewport itemSize="500" class="example-viewport">
      <div class="boxContener">
        <div class="titleName">
          <p>LỊCH SỬ</p>
          <button mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div class="cardBox">
          <app-card *ngFor="let card of lichSuCards" [ebook]="card"></app-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div class="boxContener">
        <div class="titleName">
          <p>THỊNH HÀNH</p>
          <button mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div class="cardBox">
          <app-card
            *ngFor="let card of thinhHanhCards"
            [ebook]="card"
          ></app-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div class="boxContener">
        <div class="titleName">
          <p>ĐỀ CỬ</p>
          <button mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div class="cardBox">
          <app-card *ngFor="let card of deCuCards" [ebook]="card"></app-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <div class="boxContener">
        <div class="titleName">
          <p>BẢNG XẾP HẠNG</p>
          <button mat-icon-button>
            <mat-icon>arrow_forward</mat-icon>
          </button>
        </div>
        <div class="cardBox">
          <app-card
            *ngFor="let card of bangXepHangCards"
            [ebook]="card"
          ></app-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
