#home-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;

  #home-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    border-top-left-radius: var(--container-border-radius);
    border-top-right-radius: var(--container-border-radius);

    #home-header-title {
      margin-left: 20px;

      h1 {
        margin: 0;
      }
    }

    #home-header-search {
      width: 50%;
      //min-width: 360px;
    }

    #home-header-avatar {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 20px auto 0;
      cursor: pointer;

      mat-icon {
        font-size: 50px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      mat-icon:hover {
        color: var(--onPrimary);
        background: var(--primary);
      }
    }

    #home-header-button {
      display: flex;
      margin: auto 20px auto 0;

      #icon-btn {
        display: none;
      }
    }
  }

  #home-content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;

    #free-space {
      width: 100%;
      height: 30px;
      display: flex;
    }

    #main-viewport {
      flex: 1;
      width: 100%;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden;
    }

    .boxContener {
      width: 100%;
      height: auto;
    }

    .titleName {
      height: 48px;
      width: 833px;
      font-size: 22px;
      color: var(--primary);
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 15px;
      margin-left: 10px;
    }

    .titleName > p {
      margin-bottom: 0;
      margin-right: 15px;
      margin-left: 15px;
    }

    .cardBox {
      margin-left: 15px;
      height: auto;
      display: flex;
      width: auto;
      flex-direction: row;
      gap: 24px;
      overflow: hidden;
      white-space: nowrap;
      cursor: grab;
    }

    .cardBox.active {
      cursor: grabbing;
      transition: transform 0.5s ease-out;
    }

    .mat-icon-button {
      margin-left: 10px;
      color: var(--primary);
    }

    .end-of-scroll {
      display: none;
      text-align: center;
      padding: 10px;
      color: #333;
      width: 100%;
      border-radius: 12px;
      background-color: var(--surfaceContainerHigh);
    }

    .end-of-scroll.visible {
      display: block;
    }

    .cardBox.bounce-back {
      animation: bounce-back 0.3s ease-out;
    }

    @keyframes bounce-back {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(-20px);
      }
      100% {
        transform: translateX(0);
      }
    }

    .cardBox.bounce-back-start {
      animation: bounce-back-start 0.3s ease-out;
    }

    @keyframes bounce-back-start {
      0% {
        transform: translateX(0);
      }
      50% {
        transform: translateX(20px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}

#home-container::-webkit-scrollbar {
  display: none;
}

@media (max-width: 800px) {
  #home-container {
    #home-header {
      #home-header-title {
        h1 {
          font-size: 3rem;
          margin-right: 20px;
        }
      }

      #home-header-search {
        width: 100%;
      }

      #home-header-avatar {
        display: none;
      }

      #home-header-button {
        #txt-btn {
          display: none;
        }

        #icon-btn {
          display: flex;
          margin-left: 20px;
        }
      }
    }
  }
}

:host {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper,
  .mdc-text-field,
  .mdc-text-field--filled {
    border-radius: 16px;
    border: none;

    .mdc-line-ripple {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-form-field-flex,
  .mat-mdc-form-field-infix {
    height: 100%;
  }

  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 14px 0;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--background);
  }
}
