<div id="home-container">
  <div id="home-header">
    <div id="home-header-title">
      <h1>Hobius</h1>
    </div>
    <mat-form-field appearance="fill" id="home-header-search">
      <mat-icon matPrefix>search</mat-icon>
      <input matInput placeholder="Tìm kiếm sách..." />
    </mat-form-field>

    @if (userInfo != null) {
      <div id="home-header-avatar">
        <mat-icon [matMenuTriggerFor]="avaMenu">account_circle</mat-icon>
        <mat-menu #avaMenu="matMenu">
          <button mat-menu-item (click)="openConfirmLogoutDialog()">
            <mat-icon>logout</mat-icon>
            Đăng xuất
          </button>
        </mat-menu>
      </div>
    } @else {
      <div id="home-header-button">
        <button mat-flat-button [routerLink]="'/login'" id="txt-btn">
          Đăng nhập
        </button>
        <button mat-icon-button [matMenuTriggerFor]="optionMenu" id="icon-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #optionMenu="matMenu">
          @if (userInfo != null) {
            <button mat-menu-item (click)="openConfirmLogoutDialog()">
              <mat-icon>logout</mat-icon>
              Đăng xuất
            </button>
          } @else {
            <button mat-menu-item [routerLink]="'/login'">
              <mat-icon>login</mat-icon>
              Đăng nhập
            </button>
          }
          <button mat-menu-item [routerLink]="'/home'" id="home-option-btn">
            <mat-icon>home</mat-icon>
            Trang chủ
          </button>
          <button
            mat-menu-item
            [routerLink]="'/profile'"
            id="profile-option-btn"
          >
            <mat-icon>person</mat-icon>
            Hồ sơ
          </button>
        </mat-menu>
      </div>
    }
  </div>
  <div id="home-content">
    <!--    <cdk-virtual-scroll-viewport itemSize="50" id="main-viewport">-->
    <div class="boxContener">
      <div class="titleName">
        <p>LỊCH SỬ</p>
        <button mat-icon-button [routerLink]="['/categories/history']">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div class="cardBox" #viewport>
        <app-card *ngFor="let card of lichSuCards" [ebook]="card"></app-card>
        <!--        <div class="end-of-scroll" #endOfScrollIndicator>End of List</div>-->
      </div>
    </div>
    <div class="boxContener">
      <div class="titleName">
        <p>THỊNH HÀNH</p>
        <button mat-icon-button [routerLink]="['/categories/trends']">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div class="cardBox" #viewport>
        <app-card *ngFor="let card of thinhHanhCards" [ebook]="card"></app-card>
        <div class="end-of-scroll" #endOfScrollIndicator>End of List</div>
      </div>
    </div>
    <div class="boxContener">
      <div class="titleName">
        <p>ĐỀ CỬ</p>
        <button mat-icon-button [routerLink]="['/categories/recommend']">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div class="cardBox" #viewport>
        <app-card *ngFor="let card of deCuCards" [ebook]="card"></app-card>
      </div>
    </div>
    <div class="boxContener">
      <div class="titleName">
        <p>BẢNG XẾP HẠNG</p>
        <button mat-icon-button [routerLink]="['/categories/rank']">
          <mat-icon>arrow_forward</mat-icon>
        </button>
      </div>
      <div class="cardBox" #viewport>
        <app-card
          *ngFor="let card of bangXepHangCards"
          [ebook]="card"
        ></app-card>
        <div class="end-of-scroll" #endOfScrollIndicator>End of List</div>
      </div>
      <div id="free-space"></div>
    </div>
    <!--    </cdk-virtual-scroll-viewport>-->
  </div>
</div>
