#home-container {
  height: 100%;
  width: 100%;

  #home-header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    font-size: 2rem;
    font-weight: bold;
    border-top-left-radius: var(--container-border-radius);
    border-top-right-radius: var(--container-border-radius);

    #home-header-title {
      margin-left: 20px;

      h1 {
        margin: 0;
      }
    }

    #home-header-search {
      width: 50%;
      min-width: 360px;
    }

    #home-header-avatar {
      height: 50px;
      width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: auto 20px auto 0;
      cursor: pointer;

      mat-icon {
        font-size: 50px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }

      mat-icon:hover {
        color: var(--onPrimary);
        background: var(--primary);
      }
    }

    #home-header-button {
      display: flex;
      margin: auto 20px auto 0;
    }
  }

  #home-content {
    height: calc(100% - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;

    //.example-viewport {
    //  height: calc(100% - 100px);
    //  min-height: 310px;
    //  width: 100%;
    //}
    //
    //.example-item {
    //  height: 100%;
    //}

    .titleName {
      height: 48px;
      width: 833px;
      font-size: 22px;
      color: var(--primary);
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 15px;
      margin-left: 10px;
    }

    .titleName > p {
      margin-bottom: 0;
      margin-right: 10px;
    }

    .cardBox {
      height: 100%;
      display: flex;
      width: 100%;
      flex-direction: row;
      gap: 24px;
      overflow: hidden;
      white-space: nowrap;
      cursor: grab;
    }

    .cardBox.active {
      cursor: grabbing;
      transition: transform 0.5s ease-out;
    }

    .mat-icon-button {
      margin-left: 10px;
      color: var(--primary);
    }

    .boxContener {
      width: 100%;
      height: 100%;
    }
  }
}

:host {
  ::ng-deep .mat-mdc-form-field-subscript-wrapper,
  .mat-mdc-form-field-bottom-align {
    display: none;
  }

  ::ng-deep .mat-mdc-text-field-wrapper,
  .mdc-text-field,
  .mdc-text-field--filled {
    border-radius: 16px;
    border: none;

    .mdc-line-ripple {
      display: none;
    }
  }

  ::ng-deep .mat-mdc-form-field-flex,
  .mat-mdc-form-field-infix {
    height: 100%;
  }

  ::ng-deep .mdc-text-field--no-label .mat-mdc-form-field-infix {
    padding: 14px 0;
  }

  ::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background: var(--background);
  }
}
