<div id="pdf-viewer-container">
  <!--  <small>-->
  <!--    Copyright hint: the PDF file has been published by-->
  <!--    <a href="https://de.linkedin.com/in/stephan-rauh-a6a398aa">Stephan Rauh</a>-->
  <!--    on-->
  <!--    <a href="https://www.beyondjava.net/page/beyondjava-conference"-->
  <!--      >BeyondJava.net</a-->
  <!--    >-->
  <!--    under a-->
  <!--    <a-->
  <!--      target="#"-->
  <!--      rel="license"-->
  <!--      href="https://creativecommons.org/licenses/by-nc-nd/3.0/de/"-->
  <!--      >Creative Commons Attribution-NonCommercial-NoDerivs 3.0 Germany-->
  <!--      License.<br-->
  <!--    /></a>-->
  <!--  </small>-->
  <ngx-extended-pdf-viewer
    (pageChange)="onPageChanges($event)"
    [src]="
      '../../../public/assets/pdfs/Bootstrap-vs-Material-Design-vs-Prime-vs-Tailwind.pdf'
    "
    backgroundColor="#d7e3ff"
    [ignoreKeyboard]="true"
    [height]="'auto'"
    [zoom]="'auto'"
    [showToolbar]="true"
    [showSidebarButton]="true"
    [showFindButton]="true"
    [showPagingButtons]="true"
    [showDrawEditor]="false"
    [showStampEditor]="false"
    [showTextEditor]="false"
    [showZoomButtons]="true"
    [showPresentationModeButton]="false"
    [showOpenFileButton]="false"
    [showPrintButton]="false"
    [showDownloadButton]="true"
    [showSecondaryToolbarButton]="true"
    [showRotateCwButton]="false"
    [showRotateCcwButton]="false"
    [showHandToolButton]="false"
    [showScrollingButton]="false"
    [showSpreadButton]="false"
    [showPropertiesButton]="false"
    [textLayer]="true"
    (annotationLayerRendered)="onAnnotationLayerRendered($event)"
    [(page)]="page"
    [(pageLabel)]="pageLabel"
  >
  </ngx-extended-pdf-viewer>
</div>
