#container {
  width: 166px;
  height: 282px;
  background-color: var(--surfaceContainerHigh);
  border-radius: 12px;
}

#bookImg {
  display: flex;
  justify-content: center;
}

#text {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

#bookImg > img {
  width: 150px;
  height: 225px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#title {
  font-size: 14px;
  margin: 0;
  text-decoration: underline;
  color: var(--onSurface);
}

#author {
  font-size: 12px;
  margin: 0;
  color: var(--onSurfaceVariant);
}

#title,
#author {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}
