<div id="sidebar-container">
  <ul class="sidenav-nav">
    <img
      [src]="'../../../../public/assets/logos/logo.png'"
      alt="logo"
      id="logo"
      (click)="navigate(1)"
    />
    @if (isStaticUser) {
      <li
        class="sidenav-nav-item"
        [class]="links[0].isActive ? 'active' : 'inactive'"
        (click)="navigate(0)"
      >
        <a class="sidenav-nav-link">
          <mat-icon class="material-symbols-rounded sidenav-link-icon">
            {{ links[0].icon }}
          </mat-icon>
        </a>
        <p class="sidenav-link-text">
          {{ links[0].name }}
        </p>
      </li>
    }
    @for (link of links; track i; let i = $index) {
      @if (i != 0) {
        <li
          class="sidenav-nav-item"
          [class]="link.isActive ? 'active' : 'inactive'"
          (click)="navigate(i)"
        >
          <a class="sidenav-nav-link">
            <mat-icon class="material-symbols-rounded sidenav-link-icon">
              {{ link.icon }}
            </mat-icon>
          </a>
          <p class="sidenav-link-text">
            {{ link.name }}
          </p>
        </li>
      }
    }
  </ul>
</div>
