<div id="sidebar-container">
  <ul class="sidenav-nav">
    <img
      src="../../../../public/assets/logos/logo.png"
      alt="logo"
      id="logo"
      (click)="navigate(1)"
    />
    @for (link of links; track i; let i = $index) {
      <li
        class="sidenav-nav-item"
        [class]="link.isActive ? 'active' : 'inactive'"
        (click)="navigate(i)"
      >
        <a class="sidenav-nav-link">
          <mat-icon class="material-symbols-rounded sidenav-link-icon">
            {{ link.icon }}
          </mat-icon>
        </a>
        <p class="sidenav-link-text">
          {{ link.name }}
        </p>
      </li>
    }
  </ul>
</div>
