<div id="page-not-found-container">
  <div id="img-page-not-found">
    <img src="../public/assets/logos/notFIcon.png" />
  </div>
  <div id="page-not-found-content">
    <div id="page-not-found-title">404</div>
    <div id="page-not-found-subtitle">
      Ôi không!!!
      <p>
        Có vẻ trang sách bạn đang muốn tím kiếm hiện đang không tồn tại vui lòng
        chờ đợi để sách có thể bổ sung sau.
      </p>
    </div>
    <div id="page-not-found-description">
      <button mat-flat-button (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
        <span>Quay lại</span>
      </button>
    </div>
  </div>
</div>
