<div id="page-not-found-container">
  <div id="img-page-not-found">
    <img src="https://media.tenor.com/uFeEjGFzmc0AAAAM/stop.gif" alt="" />
  </div>
  <div id="page-not-found-content">
    <div id="page-not-found-title">404</div>
    <div id="page-not-found-subtitle">Trang không tồn tại</div>
    <div id="page-not-found-description">
      <button mat-flat-button (click)="navigateBack()">
        <mat-icon>arrow_back</mat-icon>
        <span>Quay lại</span>
      </button>
    </div>
  </div>
</div>
