<div id="profile-container">
  <div id="header-bar">
    <div id="left">
      <div>
        <button
          mat-icon-button
          aria-label="Example icon button with a vertical three dot icon"
          [routerLink]="'/home'"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>
      </div>
      <div id="page-name">TRANG CÁ NHÂN</div>
    </div>
    <div id="right">
      <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
      >
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div id="background-img">
    <!--    <div><img src="../public/assets/profile_pictures/img_8.png" alt=""></div>-->
    <div id="avatar">
      <img src="../public/assets/profile_pictures/img_7.png" alt="" />
    </div>
    <div id="detail-profile">
      <div id="name">Đặng Hoàng Gia Huy</div>
      <div id="birth">29/09/2002</div>
      <div id="note">
        <div>
          <mat-icon class="icon">star</mat-icon>
          Yêu thích 1000 cuốn sách
        </div>
        <div>
          <mat-icon class="icon">directions_walk</mat-icon>
          Đã đọc 1000 cuốn sách
        </div>
      </div>
    </div>
  </div>

  <div id="profile-content">
    <mat-tab-group
      mat-stretch-tabs="false"
      mat-align-tabs="center"
      color="accent"
    >
      <mat-tab label="Yêu thích">
        <ng-template mat-tab-label>
          <span class="my-custom-class">Yêu thích</span>
        </ng-template>
        <div class="content">
          <!--          <cdk-virtual-scroll-viewport itemSize="50" class="list-viewport">-->
          @for (item of bookCard; track $index) {
            <div class="book-card">
              <div class="left-card">
                <div class="img">
                  <img src="{{ item.img }}" alt="" />
                </div>
                <div>
                  <div class="title">{{ item.title }}</div>
                  <div class="info">
                    <div>{{ item.author }} - {{ item.year }}</div>
                    <div>
                      {{ item.summary }}
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="right-card"
                (click)="openSnackBar()"
                (click)="removeBookCard($index)"
              >
                <mat-icon>favorite</mat-icon>
              </div>
            </div>
          }

          <!--          </cdk-virtual-scroll-viewport>-->
        </div>
      </mat-tab>

      <mat-tab label="Bình luận">
        <ng-template mat-tab-label>
          <span class="my-custom-class1">Bình luận</span>
        </ng-template>
        <div class="content">
          <!--          <cdk-virtual-scroll-viewport itemSize="50" class="list-viewport">-->
          @for (item of cmtCard; track $index) {
            <div class="book-card">
              <div class="left-card">
                <div class="img">
                  <img src="{{ item.img }}" alt="" />
                </div>
                <div>
                  <div class="title">{{ item.title }}</div>
                  <div class="info">
                    <div>{{ item.time }}</div>
                    <div>{{ item.content }}</div>
                  </div>
                </div>
              </div>
              <div class="right-card">
                <mat-icon [routerLink]="'/ebook-info'">open_in_new</mat-icon>
              </div>
            </div>
          }
          <!--          </cdk-virtual-scroll-viewport>-->
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
