<div id="edit-profile-container">
  <h2 mat-dialog-title>Chỉnh sửa thông tin cá nhân</h2>

  <div id="info">
    <mat-form-field>
      <mat-label>Họ tên</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Số điện thoại</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div id="img">
    <mat-form-field>
      <mat-label>URL Ảnh đại diện</mat-label>
      <input matInput type="url" />
      <mat-hint>Chưa tệp nào được chọn</mat-hint>
    </mat-form-field>
    <div id="avatar" (click)="fileUpload.click()">
      Đăng tải ảnh đại diện < 5 MB
    </div>
    <div>
      <input #fileUpload type="file" accept="*image" />
    </div>

    <mat-form-field>
      <mat-label>URL Ảnh nền</mat-label>
      <input matInput type="url" />
      <mat-hint>Chưa tệp nào được chọn</mat-hint>
    </mat-form-field>
    <div id="background" (click)="fileUpload.click()">
      Đăng tải ảnh nền < 5 MB
    </div>
    <div>
      <input #fileUpload type="file" accept="*image" />
    </div>
  </div>

  <div id="button">
    <button id="btn2" mat-raised-button (click)="onNoClick()">Đóng</button>
    <button id="btn1" mat-raised-button (click)="alertSuccess()">Lưu</button>
  </div>
</div>
